@using DAL
@using DAL.Entities
@using GoStay.Service
@using goStayCore.CommonCode
@model GeneralData

@*<section id="page-title" class="page-title-parallax page-title-center page-title-dark include-header" style="background-image: linear-gradient(to top, rgba(254,150,3,0.5), #39384D), url('/Content/ThemeContent/demos/seo/images/faqs-title.jpg'); background-size: cover; padding: 120px 0;" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
        <div id="particles-line"></div>

        <div class="container clearfix mt-4">

            <h1 mt-4>@Model.PageTitle</h1>

        </div>

    </section>*@


<section id="page-title" class="page-title-parallax page-title-center page-title-dark include-header" style="background-image: linear-gradient(to top, rgba(254,150,3,0.5), #39384D), url('/Content/ThemeContent/demos/seo/images/faqs-title.jpg'); background-size: cover; padding: 74px 0;" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
    <div id="particles-line"></div>

    <div class="container clearfix mt-4">

        <h1 mt-4>@Model.PageTitle</h1>

    </div>

</section><!-- #page-title end -->