<div class="modal fade" id="compare-hotel" tabindex="-1" aria-labelledby="compare-hotel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered compare-modal">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-24">So sánh khách sạn</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="compare-hotel-parent">
                    <div class="title-compare-hotel">
                        <table>
                            <tbody>
                                <tr>
                                    <ul class="mt-260 title-compare-hotel-left">
                                        <li>Tên khách sạn</li>
                                        <li class="mt-50">Giá cả</li>
                                        <li class="mt-60">Vị trí</li>
                                        <li class="mt-25">Đánh giá</li>
                                        <li class="mt-35">Tiện ích</li>
                                        <li class="mt-80">Đặt ngay</li>
                                    </ul>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="compare-hotel">
                        <div class="btnClearKW btnCompareClearKW">
                            <i class="fa-solid fa-xmark ic-16-gray"></i>
                        </div>
                        <div class="compare-img">
                            <a href="hotel-detail.html"><img data-src="assets/images/items-grid/img1.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mO8Uw8AAj0BXe1cD0IAAAAASUVORK5CYII=" alt=""></a>
                        </div>
                        <p class="compare-title-hotel">Khách Sạn Golden Coto (Golden Coto Hotel)</p>
                        <div class="compare-price">
                            <p class="base_price">1.056.279đ</p>
                            <p class="price">1.003.465đ</p>
                            <p href="javascript:void(0)" class="label_discount">-51%</p>
                        </div>
                        <p>Thành phố Vinh - Nghệ An</p>
                        <div class="label_review">
                            <i class="fa-solid fa-umbrella"></i>
                            9.6
                        </div>
                        <ul>
                            <li>Có ăn sáng</li>
                            <li>Giặt là</li>
                            <li>Bãi đỗ xe</li>
                            <li>Hoàn tiền</li>
                        </ul>
                        <div class="button-title">
                            <a class="btn-login-form btn-submit" type="submit">
                                Đặt phòng <i class="fa-solid fa-arrow-trend-up pl-10"></i>
                            </a>
                        </div>
                    </div>
                    <div class="compare-hotel">
                        <div class="btnClearKW btnCompareClearKW">
                            <i class="fa-solid fa-xmark ic-16-gray"></i>
                        </div>
                        <div class="compare-img">
                            <a href="hotel-detail.html"><img data-src="assets/images/items-grid/img1.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mO8Uw8AAj0BXe1cD0IAAAAASUVORK5CYII=" alt=""></a>
                        </div>
                        <p class="compare-title-hotel">Khách Sạn Vinh Plaza</p>
                        <div class="compare-price">
                            <p class="base_price">1.056.279đ</p>
                            <p class="price">1.003.465đ</p>
                            <p href="javascript:void(0)" class="label_discount">-51%</p>
                        </div>
                        <p>Thành phố Vinh - Nghệ An</p>
                        <div class="label_review">
                            <i class="fa-solid fa-umbrella"></i>
                            9.6
                        </div>
                        <ul>
                            <li>Có ăn sáng</li>
                            <li>Giặt là</li>
                            <li>Bãi đỗ xe</li>
                            <li>Hoàn tiền</li>
                        </ul>
                        <div class="button-title">
                            <a class="btn-login-form btn-submit" type="submit">
                                Đặt phòng <i class="fa-solid fa-arrow-trend-up pl-10"></i>
                            </a>
                        </div>
                    </div>
                    <div class="compare-hotel">
                        <div class="btnClearKW btnCompareClearKW">
                            <i class="fa-solid fa-xmark ic-16-gray"></i>
                        </div>
                        <div class="compare-img">
                            <a href="hotel-detail.html"><img data-src="assets/images/items-grid/img1.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mO8Uw8AAj0BXe1cD0IAAAAASUVORK5CYII=" alt=""></a>
                        </div>
                        <p class="compare-title-hotel">Khách Sạn Vinh Plaza</p>
                        <div class="compare-price">
                            <p class="base_price">1.056.279đ</p>
                            <p class="price">1.003.465đ</p>
                            <p href="javascript:void(0)" class="label_discount">-51%</p>
                        </div>
                        <p>Thành phố Vinh - Nghệ An</p>
                        <div class="label_review">
                            <i class="fa-solid fa-umbrella"></i>
                            9.6
                        </div>
                        <ul>
                            <li>Có ăn sáng</li>
                            <li>Giặt là</li>
                            <li>Bãi đỗ xe</li>
                            <li>Hoàn tiền</li>
                        </ul>
                        <div class="button-title">
                            <a class="btn-login-form btn-submit" type="submit">
                                Đặt phòng <i class="fa-solid fa-arrow-trend-up pl-10"></i>
                            </a>
                        </div>
                    </div>
                    <div class="compare-hotel">
                        <div class="btnClearKW btnCompareClearKW">
                            <i class="fa-solid fa-xmark ic-16-gray"></i>
                        </div>
                        <div class="compare-img">
                            <a href="hotel-detail.html"><img data-src="assets/images/items-grid/img1.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mO8Uw8AAj0BXe1cD0IAAAAASUVORK5CYII=" alt=""></a>
                        </div>
                        <p class="compare-title-hotel">Khách Sạn Vinh Plaza</p>
                        <div class="compare-price">
                            <p class="base_price">1.056.279đ</p>
                            <p class="price">1.003.465đ</p>
                            <p href="javascript:void(0)" class="label_discount">-51%</p>
                        </div>
                        <p>Thành phố Vinh - Nghệ An</p>
                        <div class="label_review">
                            <i class="fa-solid fa-umbrella"></i>
                            9.6
                        </div>
                        <ul>
                            <li>Có ăn sáng</li>
                            <li>Giặt là</li>
                            <li>Bãi đỗ xe</li>
                            <li>Hoàn tiền</li>
                        </ul>
                        <div class="button-title">
                            <a class="btn-login-form btn-submit" type="submit">
                                Đặt phòng <i class="fa-solid fa-arrow-trend-up pl-10"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>