
<div class="toast" id="toast-chat" data-bs-autohide="false" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <div class="toast-admin-avatar">
            <img data-src="/assets/images/avatar/author-2.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mO8Uw8AAj0BXe1cD0IAAAAASUVORK5CYII=" alt="Logo">
            <div class="toast-admin-name">
                <div class="ts-user-name">
                    Gostay's Chat AI
                </div>
                <div class="ts-sub-date">
                    Nhân viên hỗ trợ khách hàng
                </div>
            </div>
        </div>
        <div class="toast-admin-status">
        </div>
        <button type="button" data-bs-dismiss="toast" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="toast-body">
        <div class="live-chat-parent">
            <div class="user-live-chat">
                <div class="toast-user-info">
                    <div class="user-time-chat">
                        22:26, 30 Tháng 1, 2023
                    </div>
                </div>
                <div class="ts-user-content mt-10">
                    <div class="user-content-child">Xin chào!</div>
                    <div class="user-content-child">Tôi muốn hỏi chương trình giảm giá cho khách sạn tại Đà Nẵng vào tháng 3/2022.</div>
                    <div class="user-content-child">Nhà tôi có dự định đi Đà Nẵng vào tháng 12/3-16/3/2023.</div>
                    <div class="user-content-child">Nhờ bạn tư vấn giúp.</div>
                    <div class="user-content-child">Cảm ơn bạn.</div>
                </div>
            </div>
            <div class="admin-live-chat">
                <div class="toast-admin-info">
                    <div class="toast-admin-avatar">
                        <img data-src="/assets/images/avatar/author-2.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mO8Uw8AAj0BXe1cD0IAAAAASUVORK5CYII=" alt="Logo">
                    </div>
                </div>
                <div class="ts-admin-content">
                    <div class="admin-content-child">Chào bạn</div>
                    <div class="admin-content-child">Mình là Trang chuyên viên tư vấn khách hàng goStay.vn. Cảm ơn bạn đã quan tâm đến dịch vụ của chúng tôi</div>
                    <div class="admin-content-child">Bạn muốn ở Resort hay Khách sạn, để bên mình tư vấn cho kĩ hơn ạ</div>
                </div>
            </div>
            <div class="user-live-chat">
                <div class="toast-user-info">
                    <div class="user-time-chat">
                        08:30, 2 Tháng 2, 2023
                    </div>
                </div>
                <div class="ts-user-content mt-10">
                    <div class="user-content-child">Dạ vâng</div>
                    <div class="user-content-child">Nhà mình muốn ở Resort 5 sao giá từ 1tr - 1tr5 / 1 đêm ạ</div>
                    <div class="user-content-child">Có buffer ăn sáng và xe đưa đón sân bay</div>
                </div>
            </div>
            <div class="admin-live-chat">
                <div class="toast-admin-info">
                    <div class="toast-admin-avatar">
                        <img data-src="/assets/images/avatar/author-2.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mO8Uw8AAj0BXe1cD0IAAAAASUVORK5CYII=" alt="Logo">
                    </div>
                </div>
                <div class="ts-admin-content">
                    <div class="admin-content-child-image">
                        <img data-src="/assets/images/items-grid/img1.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mO8Uw8AAj0BXe1cD0IAAAAASUVORK5CYII=" alt="#">
                    </div>
                    <div class="admin-content-child">Bạn muốn ở khách sạn này chứ?</div>
                </div>
            </div>
            <div class="user-live-chat">
                <div class="ts-user-content mt-10">
                    <div class="user-content-child">Dạ vâng</div>
                    <div class="user-content-child">Khách sạn Paradise Đà Nẵng 4 Sao ạ</div>
                    <div class="user-content-child-link">
                        <div class="user-content-link">
                            <span>
                                Nhằm tri ân đến Quý khách hàng nhân dịp Tết 2023, goStay mang đến bộ sản phẩm “Tour Lộc Phát - Đi Là Phát Lộc” - Thời gian "chốt tour" kéo dài tới 15/02. Quý khách hãy liên hệ để nhận tư vấn miễn phí nhé, lựa chọn cho mình chuyến du lịch đầu năm may mắn nhất. Trân trọng.
                                <br>
                                <a href="https://gostay.realtech.com.vn/">https://gostay.realtech.com.vn/</a>
                            </span>
                        </div>
                        <img data-src="/assets/images/items-grid/img1.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mO8Uw8AAj0BXe1cD0IAAAAASUVORK5CYII=" alt="#">
                        <div class="user-content-child-heading">
                            Gostay - Nền tảng thương mại điện tử cho du lịch hàng đầu Việt Nam
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ts-form-live-chat">
            <div class="live-form">
                <div class="live-form-icon">
                    <a href="#"><i class="fa-solid fa-camera"></i></a>
                    <div class="attact-file">
                        <input type="file" name="file" />
                        <button id="file" class="border-none bg-none">
                            <i class="fa-solid fa-image"></i>
                        </button>
                    </div>
                </div>
                <div class="live-chat-input">
                    <input id="myTextField" type="text" placeholder="Tin nhắn...">
                    <div class="live-form-send">
                        <a href="#"><i class="fa-regular fa-paper-plane"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>