@using GoStay.Common.Configuration
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gostay Admin</title>

    <!-- Custom fonts for this template-->
    <link href="~/admintheme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="/Content/ThemeContent/css/bootstrap.css" type="text/css" />
    <!-- Custom styles for this template-->
    <link href="~/admintheme/css/sb-admin-2.css?v=6" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="row">
                                        @if (TempData["SuccessMsg"] != null)
                                        {
                                            if (!String.IsNullOrEmpty(TempData["SuccessMsg"].ToString()))
                                            {
                                                <div class="style-msg successmsg">
                                                    <div class="sb-msg"><i class="icon-thumbs-up"></i>@TempData["SuccessMsg"]</div>
                                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                                </div>
                                            }
                                        }
                                        @if (TempData["ErrorMsg"] != null)
                                        {
                                            if (!String.IsNullOrEmpty(TempData["ErrorMsg"].ToString()))
                                            {
                                                <div class="style-msg errormsg">
                                                    <div class="sb-msg"><i class="icon-remove"></i>@TempData["ErrorMsg"]</div>
                                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form class="user" method="post" asp-area="Admin" asp-controller="AdminAccount" asp-action="Login" id="login-form" enctype="multipart/form-data">
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user" id="email" name="email" aria-describedby="emailHelp"
                                                   placeholder="Enter Email Address...">
                                        </div>
                                        <div class="form-group">
                                            

                                            <input type="password" class="form-control form-control-user"
                                                   id="password" name="password" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" checked="checked" class="custom-control-input" id="saveLogin" name="saveLogin">
                                                <label class="custom-control-label" for="saveLogin">
                                                    Lưu đăng nhập
                                                </label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block" value="Login">Login</button>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="small text-center p-5">
                            <span>@AppConfigs.buidinfo() Development by <a target="_blank" title="Realtech Inc" href="https://realtech.com.vn/">Realtech Inc</a></span>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/admintheme/vendor/jquery/jquery.min.js"></script>
    <script src="~/admintheme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/admintheme/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/admintheme/js/sb-admin-2.min.js"></script>
    <script>
        setTimeout(function () {
            window.location.reload();
        }, 60000);
    </script>
</body>

</html>